body {
    font-family: 'Source Code Pro', monospace;
    background-color: #050505;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    background-color: #111111;
    color: #ffffff;
    position: fixed;
    height: 60px;
    padding-left: 20px;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin-right: 700px;
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-left: auto;
}

header nav ul li {
    margin-right: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

header nav ul li a:hover {
    font-size: 18px;
    color: #ff0000;
}

main {
    padding-top: 100px;
    background-color: #080707;
    color: #ffffff;
    flex-grow: 1;
}

.left-Section {
    float: left;
    width: 50%;
    font-size: 27px;
}

.highlight {
    color: #ff0000;
}

.left-Section h1 {
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 150px;
}

.button-container {
    margin-left: 100px;
}

.left-Section button {
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    margin-left: 0px;
    font-family: 'Source Code Pro', monospace;
}

.button-container button:hover {
    background-color: #ffffff;
    color: #000000;
}

.button-container button:hover a {
    color: #000000;
}

.button-container a {
    text-decoration: none;
    color: #ffffff;
}

.button-container a:hover {
    color: #000000;
}

.Right-Section {
    float: right;
    width: 50%;
}

.Right-Section img {
    padding-top: 30px;
    margin-left: 150px;
    width: 450px;
    height: 450px;
}

footer {
    background-color: #111111;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer:hover {
    background-color: #222222;
}

footer:hover p {
    color: #ff0000;
}